apiVersion: apps/v1
kind: Deployment
metadata:
  name: food-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: food-frontend
  template:
    metadata:
      labels:
        app: food-frontend
    spec:
      containers:
      - name: frontend
        image: jyothiprakashg18/food-frontend
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-conf
        configMap:
          name: frontend-nginx-conf
---
apiVersion: v1
kind: Service
metadata:
  name: food-frontend
spec:
  selector:
    app: food-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
